body{
                background-image:url(bora.jpg.JPG);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
            }
               wrapper{
               width: 1024;
               min-height: 600px;
               margin: 0 auto;
               padding: 20px;
                border: 2px solid transparent;
            }
               p{
                font-size: 69px;
                color: white;
                font-style: bold;
                font-family: 'Playfair Display', serif;
                text-align: center;
                float: right;
                text-shadow: 3px 3px black; 
            }
               
               span{
                font-size: 69px;
                color: white;
                font-style: bold;
                   font-family: 'Great Vibes', cursive;
                text-align: center;
                float: right;
                text-shadow: 3px 3px black; 
                position: absolute;
                   top: 300;
                   right: 150;
}
               p2{ 
                font-size: 89px;
                color: white;
                font-style: bold;
                font-family: 'Dancing Script', cursive;
                text-align: center;
                float: right;
                text-shadow: 3px 3px black;
                   position: absolute;
                   top: 200;
                   right: 650
}